{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<section class="container text-center">
  <h2>Welcome</h2>

  <hr> <br>
  <div class="wrap">
    <div class="card-wrapper">
      <a href="{%  url 'notes' %}">
        <div>
          <img class="card-img-top" src="{% static 'images/notes.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title">
              Notes
            </h5>
            Create Notes to refer them later. They are stored permanently until deleted
          </div>
        </div>
      </a>
    </div>

    <div class="card-wrapper">
      <a href="{%  url 'homework' %}">
        <div>
          <img class="card-img-top" src="{% static 'images/homework.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Homework
            </h5>
            Add homeworks and assign them deadlines. They will be displayed prioritised by deadlines
          </div>
        </div>
      </a>
    </div>

    <div class="card-wrapper">
      <a href="{%  url 'todo' %}">
        <div>
          <img class="card-img-top" src="{% static 'images/todo.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              To Do
            </h5>
            Add your to-do lists for your day and remove them as you finish
          </div>
        </div>
      </a>
    </div>
  </div>
  <br><br><br>



</section>
{% endblock content %}